<!--
  Generated template for the AddPlacePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title  style="margin-left: 55px">Add a Place</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="onsubmit(f)" #f="ngForm">
<ion-list>
<ion-item>
  <ion-label fixed>Title</ion-label>
  <ion-input required type="text" name="title" ngModel placeholder="Beautiful Church..."></ion-input>
</ion-item>
<ion-item>
    <ion-label stacked><h2>Short Description</h2></ion-label>
    <ion-input required type="text" name="decription" ngModel></ion-input>    
</ion-item>
</ion-list>
<ion-row margin-top>
<ion-col col-5>
<button ion-button outline icon-left type="button" (click)="locateme()"><ion-icon name="locate" >
  </ion-icon>Locate me</button>  
</ion-col>  
<ion-col col-6>
    <button ion-button outline icon-left type="button" (click)="openmap()">
      <ion-icon name="map"></ion-icon>Select on Map</button>      
</ion-col>
</ion-row >
<ion-col>
<sebm-google-map *ngIf="marker" [latitude]="marker.Latitude" 
[longitude]="marker.Longitude" >
<sebm-google-map-marker [latitude]="marker.Latitude" 
[longitude]="marker.Longitude">

</sebm-google-map-marker>
</sebm-google-map>
</ion-col>
<ion-row>

</ion-row>
<h2 text-center>Take a Photo!</h2>
<ion-row>
<button ion-button block outline type="button" icon-left (click)="Takephoto()">
  <ion-icon  name="camera"></ion-icon>Open Camera</button>
</ion-row>
<ion-row *ngIf="imagedata!=''">
 
  <img [src]="imagedata" style="max-height: 250px" id="myImage">

</ion-row>
<ion-row>
<button ion-button block  color="secondary" type="submit" [disabled]="!f.valid || !marker || imagedata=='' ">
  Add this Place</button>
</ion-row>
</form>

</ion-content>
